---
layout: default
---
<article itemscope itemtype="http://schema.org/BlogPosting">
  
  <header class="post-header">
    <h1 class="post-title" itemprop="name headline">{{ page.title | escape }}</h1>
    <p class="post-meta">
      <time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
        {% assign date_format = site.cayman-blog.date_format | default: "%b %-d, %Y" %}
        {{ page.date | date: date_format }}
      </time>
      {% assign author = page.author | default: site.author %}
      {% if page.author %}
        • <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span itemprop="name">{{ page.author }}</span></span>
      {% endif %}</p>
  </header>

  <div class="share-links no-print">
    {% include sharelinks.html %}
  </div>

  <head>
    <noscript><style> #sidebar { max-height: initial !important; } </style></noscript>
    {% if site.google_analytics %}
    <script async src="https://www.googletagmanager.com/gtag/js?id={{ site.google_analytics }}"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag() { dataLayer.push(arguments); }
      gtag('js', new Date());
      gtag('config', '{{ site.google_analytics }}');
    </script>
    {% endif %}
    <meta charset="UTF-8">
  </head>
  
  <body>
    <aside id="sidebar">
      <nav class="navigator" id="nav">
        {% assign n=site.navigation %}
        {% include toc.html html=content sanitize=n.sanitize strip_par=n.strip_par class=n.class id=n.id h_min=n.h_min h_max=n.h_max ordered=n.ordered item_class=n.item_class submenu_class=n.submenu_class base_url=n.base_url anchor_class=n.anchor_class skip_no_ids=n.skip_no_ids %}
      </nav>
    </aside>
    
    <div class="main-wrapper">
      <main id="content" class="main-content" role="main">
        <div id="content-wrapper">
          {% include anchor_headings.html html=content anchorBody="#" beforeHeading=true anchorClass="heading-anchor" anchorTitle="%heading%" %}
        </div>
    </div>
    
    <script src="{{ '/assets/js/js_enabled.js?v=' | append: site.github.build_revision | relative_url }}"></script>
    <script src="{{ '/assets/js/anchor_spy.js?v=' | append: site.github.build_revision | relative_url }}"></script>
    <script src="{{ '/assets/js/navigator.js?v=' | append: site.github.build_revision | relative_url }}"></script>
  </body>

  <div class="post-content e-content" itemprop="articleBody">
    {{ content }}
    <div class="no-print">
      {% include navlinks.html %}
    </div>
  </div>

  <a class="u-url" href="{{ page.url | relative_url }}" hidden></a>
  
</article>

<script src="https://utteranc.es/client.js"
        repo="Apasher/apasher.github.io"
        issue-term="og:title"
        label="Comments"
        theme="github-dark"
        crossorigin="anonymous"
        async>
</script>
